<div class="container-div">
    <div class="tab">
    <ul>
        <li id="tab1" class="active"><a href="#">Link 1</a></li>
        <li id="tab2"><a href="#">Link 2</a></li>
    </ul>
    </div>
   
      <div  id="content1" class="content">Content Here1</div>
      <div id="content2" class="content">Content Here2</div>

</div>